/* CSS RESET */
*, html, body {
    margin: 0;
    padding: 0;
}

:root {
    --space: 36px;
    --dark: rgb(0, 43, 43);
    --green: rgb(0, 135, 135);
    --cell-background: rgb(235, 255, 255);
    --background: rgb(219, 255, 243);
}

body {
    background-color: var(--background);
    color: var(--dark);
    font-family: 'Courier New', Courier, monospace;
    text-align: start;
}

.main-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space);
}

h1 {
    font-size: 80px;
    margin-top: var(--space);
}

h3 {
    text-align: center;
}

.board-container {
    width: 480px;
    height: 480px;
    border: 8px solid var(--green);
    border-radius: 10px;
    background-color: var(--cell-background);
    display: grid;
    grid-template: repeat(3, 160px) / repeat(3, 160px);
}

.cell {
    border: 1px solid var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 122px;
}

.cell:hover {
    background-color: rgba(0, 135, 135, 0.139);
}

button {
    padding: 10px 20px;
    margin-top: 26px;
    border: none;
    border-radius: 40px;
    background-color: var(--green);
    color: white;
    font-weight: 700;
    font-size: 30px;
}

button:hover {
    background-color: rgb(10, 115, 115);
}

.win {
    background-color: aquamarine;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background-color: var(--background);
    border-radius: 10px;
    border: none;
    box-shadow: 4px 4px 8px rgba(6, 1, 1, 0.4);
    padding: 30px;
    font-size: 22px;
    outline: none;
}

